---
layout: default
title: Feng Wang 
---
{% include JB/setup %}

<div class="row col-12 mt-4">
	<div class="col-12 float-sm-left col-sm-5">
		<img class="rounded img-fluid" height="250" width="250" src="/images/profile.jpeg">
	</div>
	<div class="col-12 col-sm-4 text-left">
		<h2 class="display-4">Feng Wang</h2>
		<h4>Postdoctoral Fellow</h4>
		<p>
		<i class="fas fa-map-marker"></i> SCI Institute, University of Utah
		<br/>
<!--		<a href="https://twitter.com/_wusher"><i class="fab fa-twitter"></i> _wusher</a>
		<br/>
-->
		<a class='email href="mailto:x@y"' href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x66;&#x77;&#x61;&#x6E;&#x67;&#x39;&#x31;&#x31;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">
			<i class="far fa-envelope"></i>
			&#x66;&#x77;&#x61;&#x6E;&#x67;&#x39;&#x31;&#x31;<!-- mailto:abuse@gmail.com -->&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;
		</a>
		<br/>
		<a href="https://scholar.google.com/citations?user=41mQa2QAAAAJ&hl=en">
			<i class="fas fa-graduation-cap"></i> Google Scholar</a>
		</p>
	</div>
	<div class="col-12 mb-4 mt-3">
		<!-- I'm torn whether or not I like the display class -->
		<h2 class="border-bottom border-secondary">Bio</h2>
		<div class="col-12">
			I'm a Postdoctoral Research Scientist at the <a href="https://sci.utah.edu/">Scientific
				Computing and Imaging Institute</a> at the
			<a href="https://www.cs.utah.edu/">University of Utah</a>, working
			with <a href="http://www.cs.utah.edu/~crj/">Christopher R. Johnson </a> and
			<a href="http://www.sci.utah.edu/~wald/">Ingo Wald</a>. Currently, I am working on the project
			<a href="https://www.ospray.org/">OSPRay</a> which is supported by the 
			<a href="https://software.intel.com/en-us/ipcc">Intel Parallel Computing Centers (IPCC)</a>.  
			Before joining the program at Utah, I work as a visiting scholar at 
			<a href="https://geoplan.asu.edu/">School of Geographical Sciences & Urban Planning,
			Arizona State University</a>. I obtained my Ph.D. in Cartographic and Geographic
			Information System at the <a href="http://english.radi.cas.cn/"> Institute of Remote Sensing
			and Digital Earth, Chinese Academy of Sciences</a>. 
			My research interests cover a range of areas in Scientific Visualization, GeoVisualization,
			High Performance Computing and Spatiotemporal Data Visualization and Mining.
		</div>
	</div>
	<div class="col-12 mb-1">
		<h2 class="border-bottom border-secondary">Publications</h2>
		{% for pub in site.data.publications %}
		<div class="row col-12 mb-3 float-sm-left">
			<div class="float-sm-left col-12 col-sm-2">
				{% if pub.thumb %}
				<!-- I'm debating if I prefer with or without the thumbnail border -->
				<img class="mx-auto img-thumbnail" src="{{pub.thumb}}">
				{% endif %}
				<!-- todo: something for pubss wihtout thumbs? -->
			</div>
			<div class="col-sm-10 col-12 text-center text-sm-left">
				<h5><b>{{pub.title}}</b></h5>
				{{pub.authors}}. <i>{{pub.venue}}</i>, {{pub.year}}.
				<br/>
				<a class="mr-2" href="/publications/{{pub.short_title}}">
					<i class="far fa-file-alt"></i> Project Page</a>
				<a class="mr-2" href="{{pub.paper_pdf}}"><i class="far fa-file-pdf"></i> PDF</a>
				{% if pub.bibtex %}
				<a class="bib mr-2" href="javascript:void(0);"
					data-clipboard-text="{{pub.bibtex}}" data-toggle="popover" data-content="Copied!"
					data-delay='{"show":0,"hide":1000}' data-trigger="focus">
					<i class="fas fa-quote-left"></i> Copy BibTeX</a>
				{% endif %}
				{% if pub.doi %}
				<a class="mr-2" href="https://dx.doi.org/{{pub.doi}}">
					<i class="fas fa-external-link-alt"></i> Publisher's Version</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
<!--
	<div class="col-12">
		<h2 class="border-bottom border-secondary">Selected Projects</h2>
		<div class="col-12 justify-content-center row">
		{% for prj in site.data.projects limit:6 %}
		<div class="row col-12 col-sm-4 mb-3">
			<div class="col-12 mx-auto">
				<img class="rounded img-fluid" src="{{prj.thumb}}">
			</div>
			<div class="col-12 text-center text-sm-left">
				<h5><b>{{prj.title}}</b></h5>
				<a class="mr-2" href="/projects#{{prj.title}}">
					<i class="far fa-file-alt"></i> Project Page</a>
				<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
					<i class="fab fa-github"></i> Code</a>
			</div>
		</div>
		{% endfor %}
		<div>
		<div class="col-12 text-center">
			<h5>More projects can be found on my <a href="/projects">projects page</a>.</h5>
		</div>
-->
	</div>
</div>

<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script type="text/javascript">
window.onload = function() {
	var clip = new Clipboard(".bib");
	$(function () {
		$('[data-toggle="popover"]').popover()
	})
}
</script>

